/*======================================
HERO
=======================================*/

.hero{

    position:relative;
    min-height:95vh;
    display:flex;
    align-items:center;
    overflow:hidden;

    padding-top:90px;

    background:
        linear-gradient(
            rgba(0,0,0,.35),
            rgba(0,0,0,.35)
        ),
        url("../images/hero/background.png");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}




/*======================================
OVERLAY
=======================================*/

.hero-overlay{

    position:absolute;

    inset:0;

    background:linear-gradient(

        rgba(0,0,0,.55),

        rgba(0,0,0,.35)

    );

}

/*======================================
HERO CONTAINER
=======================================*/

.hero-container{

    position:relative;

    z-index:2;

    display:grid;

    grid-template-columns:1fr 1fr;

    align-items:center;

    gap:70px;

}

/*======================================
HERO TEXT
=======================================*/

.hero-text{

    color:rgb(255, 255, 255);

}

.hero-text .subtitle{

    display:inline-block;

    color:var(--gold);

    letter-spacing:3px;

    font-size:15px;

    margin-bottom:20px;

    text-transform:uppercase;

}

.hero-text h1{

    font-family: "Cormorant Garamond", serif;

    font-size:45px;

    font-weight:600;

    padding-left:30px;

    line-height:1.1;

    margin-bottom:25px;

    color:rgba(180, 255, 157, 0.826);

}

.hero-text p{

    font-family:"Marcellus", serif;

    color:#a4b50a;

    font-size:18px;

    padding-left:30px;

    max-width:550px;

    margin-bottom:35px;

}

/*======================================
HERO BUTTONS
=======================================*/

.hero-buttons{

    display:flex;

    gap:20px;

    flex-wrap:wrap;

}

/*======================================
HERO IMAGE
=======================================*/

.hero-image{

    display:flex;

    justify-content:center;

    align-items:center;

}

.hero-image img{

    width:100%;

    opacity: 0.5;

    max-width:200px;

    animation:floatImage 5s ease-in-out infinite;

}
/*======================================
FLOAT ANIMATION
=======================================*/

@keyframes floatImage{

    0%{

        transform:translateY(0);

    }

    50%{

        transform:translateY(-18px);

    }

    100%{

        transform:translateY(0);

    }

}

/*======================================
SCROLL INDICATOR
=======================================*/

.scroll-down{

    position:absolute;

    bottom:35px;

    left:50%;

    transform:translateX(-50%);

    color:white;

    font-size:26px;

    animation:bounce 2s infinite;

}

@keyframes bounce{

    0%,100%{

        transform:translate(-50%,0);

    }

    50%{

        transform:translate(-50%,10px);

    }

}


/*======================================
HERO STATS
======================================*/

.hero-stats{
    display:flex;
    gap:20px;
    margin-top:35px;
}

.stat-item{
    width:120px;
    text-align:center;
}

.stat-item h3{
    font-size:32px;
    color:#c89b3c;
    font-weight:700;
    margin-bottom:5px;
    line-height:1;
    margin:0;
    text-align:center;
}

.stat-item p{
    color:#fff;
    font-size:14px;
    opacity:.9;
    letter-spacing:.5px;
    margin:8px 0 0;
    text-align:center;
}

/*======================================
HERO LOCATIONS
======================================*/

.hero-locations{
    position:absolute;
    right:40px;
    bottom:40px;

    z-index:10;

    display:flex;
    flex-direction:row;
    gap:12px;

    padding:18px 22px;

    background:rgba(255,255,255,.08);
    backdrop-filter:blur(12px);

    border:1px solid rgba(255,255,255,.15);
    border-radius:16px;
}

.location-item{
    display:flex;
    align-items:center;
    gap:10px;

    color:#fff;
    font-size:15px;
}

.location-item i{
    color:#c89b3c;
}

.hero-locations h4{
    color:#c89b3c;
    margin:0 0 10px;
    font-size:16px;
    font-weight:600;
}